<div class="c-users-list">

  <div class="c-users-list__header">
    <div> Employee </div>
    <div> Email </div>
    <div> Adress </div>
    <div> Start Date </div>
    <div> Performance Index </div>
    <div> About </div>
  </div>
  <div class="c-users-list__body" ng-repeat="employee in EmployeesListComponentVm.employeesList track by $index">
    <div>
      <div class="c-users-list__main-info">
        <img class="c-users-list__avatar" ng-src="{{employee.profile.avatar}}" ng-attr-alt="{{employee.profile.name}}">
        <div ng-bind-html="EmployeesListComponentVm.parseHighlight(employee.profile.name) | safeHtml"></div>
      </div>
    </div>
    <div ng-bind-html="EmployeesListComponentVm.parseHighlight(employee.email) | safeHtml"></div>
    <div ng-bind-html="EmployeesListComponentVm.parseHighlight(employee.profile.address) | safeHtml"></div>
    <div ng-bind-html="EmployeesListComponentVm.parseHighlight(employee.start_date | date) | safeHtml"></div>
    <div ng-bind-html="EmployeesListComponentVm.parseHighlight(employee.performance_index) | safeHtml"></div>
    <div ng-bind-html="EmployeesListComponentVm.parseHighlight(employee.profile.about) | safeHtml"></div>
  </div>
</div>
